/////////////////////////////////////////////////////////////////////////////
RootkitSys    BINARY     "i386\Rootkit.sys"
/////////////////////////////////////////////////////////////////////////////

