/////////////////////////////////////////////////////////////////////////////
RootkitSys    BINARY     "i386\CCRootkit.sys"
/////////////////////////////////////////////////////////////////////////////

